<h3>{{ data.filter }}</h3>

<div cdkDropList
     class="example-list"
     (cdkDropListDropped)="drop($event)">
  <div class="example-box"
       [attr.data-id]="item.id"
       *ngFor="let item of items$ | async"
       cdkDrag>
    <div class="example-custom-placeholder"
         *cdkDragPlaceholder></div>
    <mat-icon>reorder</mat-icon>

    <span>{{item.name}}</span>
    <mat-divider></mat-divider>
    <app-project-select [item]="item"></app-project-select>

    <mat-divider></mat-divider>
    <app-due-date-edit [item]="item"></app-due-date-edit>
    <mat-divider></mat-divider>

    <button mat-button
            *ngIf="!item.completed"
            (click)="updateItemStatus(item)">
      <mat-icon>radio_button_unchecked</mat-icon>
    </button>
    <button mat-button
            *ngIf="item.completed"
            (click)="updateItemStatus(item)">
      <mat-icon>radio_button_checked</mat-icon>
    </button>
  </div>
</div>


<button mat-button
        (click)="done()"
        color="primary">Close</button>
