<form (ngSubmit)="submit()"
      [formGroup]="form">
  <div class="field-container">
    <mat-form-field hintLabel="Max of 50 Characters"
                    style="width: 800px !important"
                    appearance="fill">
      <mat-label>
        Enter the project name
      </mat-label>
      <input matInput
             #input
             formControlName="name"
             maxLength="50"
             placeholder="School">
      <mat-hint align="end">{{ input.value?.length || 0 }}/50</mat-hint>
    </mat-form-field>
    <div>
      <button mat-button>Submit</button>
      <!--[attr.aria-disabled]="form.invalid" https://angular.io/guide/accessibility-->
      <mat-error *ngIf="!projectNameValid">Project name must be unique.</mat-error>
      <mat-error *ngIf="!projectNameHasValue">Please enter a value for the project name.</mat-error>
    </div>
  </div>
</form>
<!-- [disabled]="form.invalid" -->
