<mat-card>
  <mat-card>
    <mat-card-title>Actions</mat-card-title>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              (click)="addItem()">Add New Item</button>
      <button mat-raised-button
              color='warn'
              (click)="logOut()">Log Out</button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Forecast</mat-card-title>
    <mat-card-content>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="warn"
              [routerLink]=""
              [queryParams]="{forecast: 'overdue'}">Overdue ({{(overdueTodos$ | async).length}})</button>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="primary"
              [routerLink]=""
              [queryParams]="{forecast: 'today'}">Today ({{(todayTodos$ | async).length}})</button>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="basic"
              [routerLink]=""
              [queryParams]="{forecast: 'tomorrow'}">{{getDay(1)}} ({{(tomorrowTodos$ | async).length}})</button>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="basic"
              [routerLink]=""
              [queryParams]="{forecast: 'twoAfter'}">{{getDay(2)}} ({{(twoAfterTodos$ | async).length}})</button>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="basic"
              [routerLink]=""
              [queryParams]="{forecast: 'threeAfter'}">{{getDay(3)}} ({{(threeAfterTodos$ | async).length}})
      </button>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="basic"
              [routerLink]=""
              [queryParams]="{forecast: 'fourAfter'}">{{getDay(4)}} ({{(fourAfterTodos$ | async).length}})
      </button>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="basic"
              [routerLink]=""
              [queryParams]="{forecast: 'fiveAfter'}">{{getDay(5)}} ({{(fiveAfterTodos$ | async).length}})
      </button>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="basic"
              [routerLink]=""
              [queryParams]="{forecast: 'sixAfter'}">{{getDay(6)}} ({{(sixAfterTodos$ | async).length}})</button>
      <button mat-raised-button
              style="margin: 5px 5px 0px 0px;"
              color="accent"
              [routerLink]=""
              [queryParams]="{forecast: 'future'}">Future ({{(futureTodos$ | async).length}})</button>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-title>Inbox</mat-card-title>
    <mat-card-content>Inbox items have no project assigned.</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              [routerLink]=""
              [queryParams]="{inbox: true}">
        <mat-icon>inbox</mat-icon>
        <mat-label>Inbox</mat-label>
        ({{ (inbox$ | async).length}})
      </button>
    </mat-card-actions>
  </mat-card>
  <mat-card>
    <mat-card-title>Projects</mat-card-title>
    <mat-card-content>Todo Items assigned to a Project</mat-card-content>
    <mat-card-actions>
      <button mat-raised-button
              color="primary"
              *ngFor="let project of projects$ | async"
              [routerLink]=""
              [queryParams]="{'project': project.name}">
        <mat-icon>event</mat-icon> {{ project.name}} ({{ project.count }})
      </button>
    </mat-card-actions>
  </mat-card>
  <app-project-entry></app-project-entry>
</mat-card>
