.mat-card {
  margin-bottom: 15px;
}

.project-button-div {
  align-items:center;
  padding-right: 5px;
}

.project-button {
  margin-bottom: 5px
}

.flex {
  display: flex;
}

.flex-wrap {
  flex-wrap: wrap;
}

.spinner {
  margin-right: 5px;
}

.event {
  margin-right: 5px;
}
