<div *ngIf="!projectEditEnabled">
  <span *ngIf="item.project">{{ item.project }}</span>
  <span *ngIf="!item.project">No Project</span>
  <button mat-icon-button
          color="primary"
          aria-label="Example icon button with a menu icon"
          (click)="enableProjectEdit()">
    <mat-icon>edit</mat-icon>
  </button>
</div>
<div *ngIf="projectEditEnabled">
  <mat-select #projectSelect>
    <mat-option *ngFor="let project of (projects$ | async)"
                value="{{project.name}}">
      {{ project.name }}
    </mat-option>
  </mat-select>
  <button mat-button
          (click)="saveProjectEdit(projectSelect.selected.value)">SAVE</button>
  <button mat-button
          (click)="cancelProjectEdit()">CANCEL</button>
</div>
